/* Réinitialisation des marges et des espacements par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
   /* background-color: #f7f7f7;*/
    background-image: url("C:\Users\PC\Documents\GitHub\Projet_DevWeb-23\image\im12");
}

/* Styles pour l'en-tête */
header {
    background-color: aqua;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
    border-top-left-radius: 1cqw;
    border-top-right-radius:1cqw;
    border-bottom-left-radius: 1cqw;
    border-bottom-right-radius: 1cqw;
}

.sacc {
    display: flex;
    align-items: center;
}

.sacc a {
    color: #0b0892;
    text-decoration: none;
    margin-right: 20px;
    padding:4px;
    border:2px double #0b0892;
    border-top-left-radius: 1cqw;
    border-top-right-radius:1cqw;
    border-bottom-left-radius: 1cqw;
    border-bottom-right-radius: 1cqw;
}

.sacc input[type="text"] {
    padding: 5px;
    border: 2px double #0e0d0d86;
    border-radius: 5px;
}

.link-nav ul {
    list-style: none;
    display: flex;
    
}

.link-nav li {
    margin-right: 30px;
   
}

.link-nav a {
    color: #0b0892;
    text-decoration:wavy;
    transition: color 0.3s;
    border:2px double #0b0892;
    border-top-left-radius: 1cqw;
    border-top-right-radius:1cqw;
    border-bottom-left-radius: 1cqw;
    border-bottom-right-radius: 1cqw;
    padding:4px
}

.link-nav a:hover {
    color: #ff9900;
}

/* Styles pour le contenu principal */
main {
    padding: 20px;
}

/* Styles pour le pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer small {
    display: block;
    font-size: 12px;
}

/* Styles par défaut pour tous les écrans */
/* ... Autres styles ... */

/* Media query pour les écrans plus petits, comme les appareils mobiles */
@media (max-width: 767px) {
    /* Styles spécifiques pour les écrans plus petits */
    /* Réorganisez et redimensionnez les éléments pour s'adapter à un écran étroit */
    /* ... Autres styles ... */
}

/* Media query pour les écrans de taille moyenne, comme les tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Styles spécifiques pour les écrans de taille moyenne */
    /* Ajustez la disposition et la taille des éléments pour un écran de taille moyenne */
    /* ... Autres styles ... */
}

/* Media query pour les écrans plus grands, comme les ordinateurs de bureau */
@media (min-width: 1024px) {
    /* Styles spécifiques pour les écrans plus grands */
    /* Utilisez la largeur totale de l'écran pour afficher davantage de contenu */
    /* ... Autres styles ... */
}
