
body{
    margin:0;
    box-sizing: border-box;
    background-color: #21233A;
}

.topbar{ 
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    
}
.topbar,.header-left{
    display: flex;
    justify-content: space-between;
}

.header-left{
    float: left;
}

.logo{
    margin: 0 20px;
}

.connexion{
    margin: 15px 70px 15px 0;
    float: right;
}

button{
    border-radius: 7px;
    background-color: white;
    margin-right:20px ;
    width:120px;
    height: 30px;
}



.nom-site{
    font-size: 20px;
    margin: 15px 0 5px;
}

.info{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}


.recherche-container {
    display: flex;
    align-items: center;
  }
  
  .recherche {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 300px;
  }
  
  .bouton-recherche {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .bouton-recherche:hover {
    background-color: #0056b3;
  }
  

.first-text{
    margin: 20px 0 20px 90px;
    color: white;
    font-size: 32px;
    transition: 1s;
    animation: monText 5s;
}

.image-milieu{
    margin: 20px 90px;
    text-align: center;
}

a{
    text-decoration: none;
    display: block;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 100;
    font-family: sans-serif;
    color: white;
}

a:hover{
    color: #0056b3;
    transition: .5s;
}

.image-milieu img{
    width: 100%;
}
.recherche-container {
    display: flex;
    align-items: center;
    margin-right: 79px; 
}
  
.recherche {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 500px;
}
  
.bouton-recherche {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
  
.bouton-recherche:hover {
    background-color: #0056b3;
}
  
  
.first-text {
    margin: 20px 0 20px 90px;
    color: white;
    font-size: 32px;
    transition: 1s;
    animation: monText 5s;
}
  
.image-milieu {
    margin: 20px 90px;
    text-align: center;
}
  
.image-milieu img {
    width: 100%;
}
  

@keyframes monText{
    from{
        transform: translateX(-400px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.temoignage-title{
    margin-left: 90px;
    color: white;
}

hr{
    width: 80%;
}


.temoigneur{
    display: flex;
    justify-content: space-between;
    margin: 40px 90px;
}

.pourTout{
    width: 300px;
    height: 200px;
    background-color:#4D5874;
    border: 1px solid;
    border-radius: 15px;
    
}

.button-vp{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 65px;
    background-color:#4D5874;
    color: white;
}

.button-vp:hover{
    height: 72px;
    width: 72px;

}

.photo-temoigneur, .nom-temoigneur{
    text-align: center;
    margin: 0;
    color: white;
}

.photo-temoigneur img{
    border-radius: 50%;
    margin-top: 10px;
}

.avis{
    text-align: center;
    color: white;
}

.apropos{
    margin-left: 110px;
}

.foot{
    display: flex;
    justify-content: space-around;
}


.pm{
    color: #597CF6;
    font-size: 14px;
    font-weight: 100;
    font-family: sans-serif;
}
.forH3{
    font-family: sans-serif;
    color: white;
}

