/* Styles for the signup form */
#signup {
    background-color: white;
    left: 0;
    top: 0;
    padding: 200px;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    margin: 200px auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.head-ins{
    color: white;
    text-align: center;
    background-color: #333;
    padding: 10px;
    left: 0;
}

label {
    font-weight: bold;
    font-size: 30px;
}

input {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-link{
    color: white;
    font-size: 30px;
}

button:hover {
    background-color: #0056b3;
}

.submit{
    font-size: 30px;
}
.foot-ins-con {
    font-size: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0; /* Utilisation d'unités relatives */
}

.foot {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.head-con{
    text-align: center;
    background-color: #333;
    padding: 10px;
}